; Enable xdebug extension module
{{ $xdebug := getenv "PHP_XDEBUG" }}
{{ if eq $xdebug "true" }}
zend_extension=xdebug.so
{{ end }}

xdebug.coverage_enable=0
xdebug.default_enable=1

xdebug.remote_enable=1
xdebug.remote_autostart=1
xdebug.remote_connect_back=1
; If the following remote_host value does not work use the environmental
; variable XDEBUG_CONFIG to override it
xdebug.remote_host=192.168.99.1
xdebug.remote_port=9000
xdebug.remote_handler=dbgp
xdebug.remote_log=/tmp/xdebug.log

xdebug.idekey="DEVTOOLS"

; Drupal 8 requires this be set to 256.
xdebug.max_nesting_level=256

; see http://xdebug.org/docs/all_settings